@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
body {
	background-image: url("img/noise.png");
	background-color: #f6f6f6;
}
a {
	color: #131516;
	text-decoration: none;
	font-size: 1.25em;
}

p {
	color: #131516;
	font-size: 1.25em;
}

.invisible {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

.visible {
    visibility: visible;
    position: static;
}

.hyperlink {
	text-decoration: underline;
}
.hyperlinkHover:hover {
	text-decoration: underline;
}

.header {
	/* background: #143D63; */
	background: linear-gradient(#143D63, #123659);
	width: 101.21%;
	height:160px;
	margin-top: -8px;
	margin-left: -8px;

}

.name {
	position: fixed;
	top:70px;
	left: 80px;
}

.headText {
	color: #f6f6f6;
}

.logo {
	position: fixed;
	top: 20px;
	left: 80px;
}

.logo img{
	width: 180px;
}

.icons {
	color: #f6f6f6;
}

.icon1 {
	position: fixed;
	top:50px;
	left: 1240px;
}
.icon1:hover {
	font-size: 1.1em;
	top:49px;
	left: 1239px;
}

.icon1-close {
	position: fixed;
	top:50px;
	left: 1240px;
}
.icon1-close:hover {
	font-size: 1.1em;
	top:49px;
	left: 1239px;
}

.icon2 {
	position: fixed;
	top:50px;
	left: 1280px;
}
.icon2:hover {
	font-size: 1.1em;
	top:49px;
	left: 1279px;
}

.icon2-close {
	position: fixed;
	top:50px;
	left: 1280px;
}
.icon2-close:hover {
	font-size: 1.1em;
	top:49px;
	left: 1279px;
}

.icon3 {
	position: fixed;
	top: 50px;
	left: 1320px;
}
.icon3:hover {
	font-size: 1.1em;
	top:49px;
	left: 1319px;
}

.icon3-close {
	position: fixed;
	top: 50px;
	left: 1320px;
}
.icon3-close:hover {
	font-size: 1.1em;
	top:49px;
	left: 1319px;
}

.notify {
	position: fixed;
	top: 86px;
	left: 1092px!important;
	z-index: 1000;

	width: 170px;
	padding: 10px;
	font-size: 0.8em!important;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.notify .notifyico{
	position: fixed!important;
	top: 61px!important;
	left: 1237px!important;
	z-index: 1001;
	color: #35698E;
}.notify .notifyblue{
	position: fixed!important;
	top: 86px!important;
	left: 1092px!important;
	z-index: 1000;
	width: 190px;
	height: 40px;
	background-color: #35698E;
}.notify .notifytex {
	position: fixed!important;
	top: 75px!important;
	left: 1117px!important;
	color: white;
	font-size: 1.5em;
}

.tools {
	position: fixed;
	top: 86px;
	left: 1130px!important;
	z-index: 1000;

	width: 170px;
	padding: 10px;
	font-size: 0.8em!important;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.tools .toolsico{
	position: fixed!important;
	top: 61px!important;
	left: 1275px!important;
	z-index: 1001;
	color: #35698E;
}.tools .toolsblue{
	position: fixed!important;
	top: 86px!important;
	left: 1130px!important;
	z-index: 1000;
	width: 190px;
	height: 40px;
	background-color: #35698E;
}.tools .toolstex {
	position: fixed!important;
	top: 75px!important;
	left: 1175px!important;
	color: white;
	font-size: 1.5em;
}

.settings {
	position: fixed;
	top: 86px;
	left: 1174px!important;
	z-index: 1000;

	width: 170px;
	padding: 10px;
	font-size: 0.8em!important;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.settings .settingsico{
	position: fixed!important;
	top: 61px!important;
	left: 1319px!important;
	z-index: 1001;
	color: #35698E;
}.settings .settingsblue{
	position: fixed!important;
	top: 86px!important;
	left: 1174px!important;
	z-index: 1000;
	width: 190px;
	height: 40px;
	background-color: #35698E;
}.settings .settingstex {
	position: fixed!important;
	top: 75px!important;
	left: 1213px!important;
	color: white;
	font-size: 1.5em;
}

.tab1 {
	text-align: center;
	height: 44px;
	width: 250px;
	background: linear-gradient(#3491c7, #1c63af);

	position: fixed;
	top: 116px;
	left: 80px;
	color:#f6f6f6;
	font-family: 'Libre Franklin'!important;
}

.tab2 {
	text-align: center;
	height: 44px;
	width: 250px;
	background: linear-gradient(#3C78A3, #1D3F59);

	position: fixed;
	top: 116px;
	left: 340px;
	color:#f6f6f6;
	font-family: 'Libre Franklin'!important;
}
.tab2:hover {
	background: linear-gradient(#3C78A3, #235F8A);
}

.tab3 {
	text-align: center;
	height: 44px;
	width: 250px;
	background: linear-gradient(#3C78A3, #1D3F59);

	position: fixed;
	top: 116px;
	left: 600px;
	color:#f6f6f6;
	font-family: 'Libre Franklin'!important;
}
.tab3:hover {
	background: linear-gradient(#3C78A3, #235F8A);
}
.tabCross3 {
	position: fixed;
	top: 117px;
	left: 830px;
	color:#f6f6f6;
}
.tabCross3:hover {
	color: black;
}

.tab4 {
	text-align: center;
	height: 44px;
	width: 250px;
	background: linear-gradient(#3C78A3, #1D3F59);

	position: fixed;
	top: 116px;
	left: 860px;
	color:#f6f6f6;
	font-family: 'Libre Franklin'!important;
}
.tab4:hover {
	background: linear-gradient(#3C78A3, #235F8A);
}
.tabCross4 {
	position: fixed;
	top: 117px;
	left: 1090px;
	color:#f6f6f6;
}
.tabCross4:hover {
	color: black;
}

.box1 {
	background-color: white;
	width: 480px;
	height: 250px;
	position: fixed;
	top: 186px;
	left: 26px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box1Ass {
	position: fixed;
	top: 199px;
	left: 39px;
	color: #143D63;
}

.box1Tex {
	position: fixed;
	top: 199px;
	left: 70px;
	font-size: 1.75em;
	color: #143D63;
	font-weight: 900;
	font-family: 'Libre Franklin'!important;
}

.ass1 {
	position: fixed;
	top: 260px;
	left: 39px;
	color: black;
}

.ass2 {
	position: fixed;
	top: 300px;
	left: 39px;
	color: black;
}

.ass3 {
	position: fixed;
	top: 340px;
	left: 39px;
	color: black;
}

.ass4 {
	position: fixed;
	top: 380px;
	left: 39px;
	color: black;
}

.ass1ico {
	position: fixed;
	top: 260px;
	left: 475px;
	color: red;
}

.ass2ico {
	position: fixed;
	top: 300px;
	left: 475px;
	color: darkred;
}

.ass3ico {
	position: fixed;
	top: 340px;
	left: 475px;
	color: darkred;
}

.ass4ico {
	position: fixed;
	top: 380px;
	left: 475px;
}

.ass1Tex {
	position: fixed;
	top: 260px;
	left: 290px;
	color: black;
}

.ass2Tex {
	position: fixed;
	top: 300px;
	left: 290px;
	color: black;
}

.ass3Tex {
	position: fixed;
	top: 340px;
	left: 290px;
	color: black;
}

.ass4Tex {
	position: fixed;
	top: 380px;
	left: 290px;
	color: black;
}

.assSeperator1 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 250px;
	left: 26px;
}
.assSeperator2 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 290px;
	left: 26px;
}
.assSeperator3 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 330px;
	left: 26px;
}
.assSeperator4 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 370px;
	left: 26px;
}
.assSeperator5 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 410px;
	left: 26px;
}
.ass5ico {
	position: fixed;
	top: 415px;
	left: 250px;
}

.box2 {
	background-color: white;
	width: 804px;
	height: 420px;
	position: fixed;
	top: 186px;
	/* right: 26px; */
	left: 536px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box2Mes {
	position: fixed;
	top: 199px;
	left: 550px;
	color: #143D63;
}

.box2Tex {
	position: fixed;
	top: 199px;
	left: 590px;
	font-size: 1.75em;
	color: #143D63;
	font-weight: 900;
	font-family: 'Libre Franklin'!important;
}

.mesSeperator1 {
	width: 804px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 250px;
	left: 536px;
}

.mes1 {
	width: 803px;
	position: fixed;
	top: 255px;
	left: 540px;
	padding: 5px 5px 5px 5px;
	color: black;
	/* border: 1px red solid; */
}

.mes1From {
	width: 803px;
	position: fixed;
	font-size: 0.75em;
	top: 375px;
	left: 540px;
	padding: 5px 5px 5px 5px;
	color: grey;
	/* border: 1px red solid; */
}

.mesSeperator2 {
	width: 804px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 410px;
	left: 536px;
}

.mes2 {
	width: 803px;
	position: fixed;
	top: 415px;
	left: 540px;
	padding: 5px 5px 5px 5px;
	color: black;
	/* border: 1px red solid; */
}

.mes2From {
	width: 803px;
	position: fixed;
	font-size: 0.75em;
	top: 535px;
	left: 540px;
	padding: 5px 5px 5px 5px;
	color: grey;
	/* border: 1px red solid; */
}

.mesSeperator3 {
	width: 804px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 570px;
	left: 536px;
}

.mes3 {
	width: 803px;
	position: fixed;
	top: 577px;
	left: 540px;
	padding: 5px 5px 5px 5px;
	color: black;
	/* border: 1px red solid; */
}

.box3 {
	background-color: white;
	width: 480px;
	height: 250px;
	position: fixed;
	top: 470px;
	left: 26px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box3Book {
	position: fixed;
	top: 483px;
	left: 39px;
	color: #143D63;
}

.box3Tex {
	position: fixed;
	top: 483px;
	left: 83px;
	font-size: 1.75em;
	color: #143D63;
	font-weight: 900;
	font-family: 'Libre Franklin'!important;
}

.bookSeperator1 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 535px;
	left: 26px;
}

.bookMes {
	position: fixed;
	top: 550px;
	left: 39px;
	color: black;
}

.bookA {
	font-size: 1em;
}
