@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
body {
	background-image: url("img/noise.png");
	background-color: #f6f6f6;
}
a {
	color: #131516;
	text-decoration: none;
	font-size: 1.25em;
}

p {
	color: #131516;
	font-size: 1.25em;
}

.invisible {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

.visible {
    visibility: visible;
    position: static;
}

.hyperlink {
	text-decoration: underline;
}
.hyperlinkHover:hover {
	text-decoration: underline;
}

.header {
	/* background: #143D63; */
	background: linear-gradient(#143D63, #123659);
	width: 101.21%;
	height:160px;
	margin-top: -8px;
	margin-left: -8px;

}

.name {
	position: fixed;
	top:70px;
	left: 357px;
}

.headText {
	color: #f6f6f6;
}

.logo {
	position: fixed;
	top: 20px;
	left: 357px;
}

.logo img{
	width: 180px;
}

.icons {
	color: #f6f6f6;
}

.icon1 {
	position: fixed;
	top:50px;
	left: 1517px;
}
.icon1:hover {
	font-size: 1.1em;
	top:49px;
	left: 1516px;
}

.icon1-close {
	position: fixed;
	top:50px;
	left: 1517px;
}
.icon1-close:hover {
	font-size: 1.1em;
	top:49px;
	left: 1516px;
}

.icon2 {
	position: fixed;
	top:50px;
	left: 1557px;
}
.icon2:hover {
	font-size: 1.1em;
	top:49px;
	left: 1556px;
}

.icon2-close {
	position: fixed;
	top:50px;
	left: 1557px;
}
.icon2-close:hover {
	font-size: 1.1em;
	top:49px;
	left: 1556px;
}

.icon3 {
	position: fixed;
	top: 50px;
	left: 1597px;
}
.icon3:hover {
	font-size: 1.1em;
	top:49px;
	left: 1596px;
}

.icon3-close {
	position: fixed;
	top: 50px;
	left: 1597px;
}
.icon3-close:hover {
	font-size: 1.1em;
	top:49px;
	left: 1596px;
}

.notify {
	position: fixed;
	top: 86px;
	left: 1369px!important;
	z-index: 1000;

	width: 170px;
	padding: 10px;
	font-size: 0.8em!important;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.notify .notifyico{
	position: fixed!important;
	top: 61px!important;
	left: 1514px!important;
	z-index: 1001;
	color: #35698E;
}.notify .notifyblue{
	position: fixed!important;
	top: 86px!important;
	left: 1369px!important;
	z-index: 1000;
	width: 190px;
	height: 40px;
	background-color: #35698E;
}.notify .notifytex {
	position: fixed!important;
	top: 75px!important;
	left: 1394px!important;
	color: white;
	font-size: 1.5em;
}

.tools {
	position: fixed;
	top: 86px;
	left: 1407px!important;
	z-index: 1000;

	width: 170px;
	padding: 10px;
	font-size: 0.8em!important;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.tools .toolsico{
	position: fixed!important;
	top: 61px!important;
	left: 1552px!important;
	z-index: 1001;
	color: #35698E;
}.tools .toolsblue{
	position: fixed!important;
	top: 86px!important;
	left: 1407px!important;
	z-index: 1000;
	width: 190px;
	height: 40px;
	background-color: #35698E;
}.tools .toolstex {
	position: fixed!important;
	top: 75px!important;
	left: 1452px!important;
	color: white;
	font-size: 1.5em;
}

.settings {
	position: fixed;
	top: 86px;
	left: 1451px!important;
	z-index: 1000;

	width: 170px;
	padding: 10px;
	font-size: 0.8em!important;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.settings .settingsico{
	position: fixed!important;
	top: 61px!important;
	left: 1596px!important;
	z-index: 1001;
	color: #35698E;
}.settings .settingsblue{
	position: fixed!important;
	top: 86px!important;
	left: 1451px!important;
	z-index: 1000;
	width: 190px;
	height: 40px;
	background-color: #35698E;
}.settings .settingstex {
	position: fixed!important;
	top: 75px!important;
	left: 1490px!important;
	color: white;
	font-size: 1.5em;
}

.tab1 {
	text-align: center;
	height: 44px;
	width: 250px;
	background: linear-gradient(#3491c7, #1c63af);

	position: fixed;
	top: 116px;
	left: 357px;
	color:#f6f6f6;
	font-family: 'Libre Franklin'!important;
}

.tab2 {
	text-align: center;
	height: 44px;
	width: 250px;
	background: linear-gradient(#3C78A3, #1D3F59);

	position: fixed;
	top: 116px;
	left: 617px;
	color:#f6f6f6;
	font-family: 'Libre Franklin'!important;
}
.tab2:hover {
	background: linear-gradient(#3C78A3, #235F8A);
}

.tab3 {
	text-align: center;
	height: 44px;
	width: 250px;
	background: linear-gradient(#3C78A3, #1D3F59);

	position: fixed;
	top: 116px;
	left: 877px;
	color:#f6f6f6;
	font-family: 'Libre Franklin'!important;
}
.tab3:hover {
	background: linear-gradient(#3C78A3, #235F8A);
}
.tabCross3 {
	position: fixed;
	top: 117px;
	left: 1107px;
	color:#f6f6f6;
}
.tabCross3:hover {
	color: black;
}

.tab4 {
	text-align: center;
	height: 44px;
	width: 250px;
	background: linear-gradient(#3C78A3, #1D3F59);

	position: fixed;
	top: 116px;
	left: 1137px;
	color:#f6f6f6;
	font-family: 'Libre Franklin'!important;
}
.tab4:hover {
	background: linear-gradient(#3C78A3, #235F8A);
}
.tabCross4 {
	position: fixed;
	top: 117px;
	left: 1367px;
	color:#f6f6f6;
}
.tabCross4:hover {
	color: black;
}

.box1 {
	background-color: white;
	width: 480px;
	height: 450px;
	position: fixed;
	top: 186px;
	left: 303px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box1Ass {
	position: fixed;
	top: 199px;
	left: 316px;
	color: #143D63;
}

.box1Tex {
	position: fixed;
	top: 199px;
	left: 347px;
	font-size: 1.75em;
	color: #143D63;
	font-weight: 900;
	font-family: 'Libre Franklin'!important;
}

.ass1 {
	position: fixed;
	top: 260px;
	left: 316px;
	color: black;
}

.ass2 {
	position: fixed;
	top: 300px;
	left: 316px;
	color: black;
}

.ass3 {
	position: fixed;
	top: 340px;
	left: 316px;
	color: black;
}

.ass4 {
	position: fixed;
	top: 380px;
	left: 316px;
	color: black;
}

.ass5 {
	position: fixed;
	top: 420px;
	left: 316px;
	color: black;
}

.ass6 {
	position: fixed;
	top: 460px;
	left: 316px;
	color: black;
}

.ass7 {
	position: fixed;
	top: 500px;
	left: 316px;
	color: black;
}

.ass8 {
	position: fixed;
	top: 540px;
	left: 316px;
	color: black;
}

.ass9 {
	position: fixed;
	top: 580px;
	left: 316px;
	color: black;
}

.ass1ico {
	position: fixed;
	top: 260px;
	left: 752px;
	color: red;
}

.ass2ico {
	position: fixed;
	top: 300px;
	left: 752px;
	color: darkred;
}

.ass3ico {
	position: fixed;
	top: 340px;
	left: 752px;
	color: darkred;
}

.ass4ico {
	position: fixed;
	top: 380px;
	left: 752px;
}

.ass5ico {
	position: fixed;
	top: 420px;
	left: 752px;
}

.ass6ico {
	position: fixed;
	top: 460px;
	left: 752px;
}

.ass7ico {
	position: fixed;
	top: 500px;
	left: 752px;
}

.ass8ico {
	position: fixed;
	top: 540px;
	left: 752px;
}

.ass9ico {
	position: fixed;
	top: 580px;
	left: 752px;
}

.ass10ico {
	position: fixed;
	top: 615px;
	left: 527px;
}

.ass1Tex {
	position: fixed;
	top: 260px;
	left: 567px;
	color: black;
}

.ass2Tex {
	position: fixed;
	top: 300px;
	left: 567px;
	color: black;
}

.ass3Tex {
	position: fixed;
	top: 340px;
	left: 567px;
	color: black;
}

.ass4Tex {
	position: fixed;
	top: 380px;
	left: 567px;
	color: black;
}

.ass5Tex {
	position: fixed;
	top: 420px;
	left: 567px;
	color: black;
}

.ass6Tex {
	position: fixed;
	top: 460px;
	left: 567px;
	color: black;
}

.ass7Tex {
	position: fixed;
	top: 500px;
	left: 567px;
	color: black;
}

.ass8Tex {
	position: fixed;
	top: 540px;
	left: 567px;
	color: black;
}

.ass9Tex {
	position: fixed;
	top: 580px;
	left: 567px;
	color: black;
}

.assSeperator1 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 250px;
	left: 303px;
}
.assSeperator2 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 290px;
	left: 303px;
}
.assSeperator3 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 330px;
	left: 303px;
}
.assSeperator4 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 370px;
	left: 303px;
}
.assSeperator5 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 410px;
	left: 303px;
}
.assSeperator6 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 450px;
	left: 303px;
}
.assSeperator7 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 490px;
	left: 303px;
}
.assSeperator8 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 530px;
	left: 303px;
}
.assSeperator9 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 570px;
	left: 303px;
}
.assSeperator10 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 610px;
	left: 303px;
}

.box2 {
	background-color: white;
	width: 804px;
	height: 720px;
	position: fixed;
	top: 186px;
	/* right: 26px; */
	left: 813px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box2Mes {
	position: fixed;
	top: 199px;
	left: 827px;
	color: #143D63;
}

.box2Tex {
	position: fixed;
	top: 199px;
	left: 867px;
	font-size: 1.75em;
	color: #143D63;
	font-weight: 900;
	font-family: 'Libre Franklin'!important;
}

.mesSeperator1 {
	width: 804px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 250px;
	left: 813px;
}

.mes1 {
	width: 803px;
	position: fixed;
	top: 255px;
	left: 817px;
	padding: 5px 5px 5px 5px;
	color: black;
	/* border: 1px red solid; */
}

.mes1From {
	width: 803px;
	position: fixed;
	font-size: 0.75em;
	top: 375px;
	left: 817px;
	padding: 5px 5px 5px 5px;
	color: grey;
	/* border: 1px red solid; */
}

.mesSeperator2 {
	width: 804px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 410px;
	left: 813px;
}

.mes2 {
	width: 803px;
	position: fixed;
	top: 415px;
	left: 817px;
	padding: 5px 5px 5px 5px;
	color: black;
	/* border: 1px red solid; */
}

.mes2From {
	width: 803px;
	position: fixed;
	font-size: 0.75em;
	top: 535px;
	left: 817px;
	padding: 5px 5px 5px 5px;
	color: grey;
	/* border: 1px red solid; */
}

.mesSeperator3 {
	width: 804px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 570px;
	left: 813px;
}

.mes3 {
	width: 803px;
	position: fixed;
	top: 577px;
	left: 817px;
	padding: 5px 5px 5px 5px;
	color: black;
	/* border: 1px red solid; */
}

.mes3From {
	width: 803px;
	position: fixed;
	font-size: 0.75em;
	top: 660px;
	left: 817px;
	padding: 5px 5px 5px 5px;
	color: grey;
	/* border: 1px red solid; */
}

.mesSeperator4 {
	width: 804px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 695px;
	left: 813px;
}

.mes4 {
	width: 803px;
	position: fixed;
	top: 700px;
	left: 817px;
	padding: 5px 5px 5px 5px;
	color: black;
	/* border: 1px red solid; */
}

.mes4From {
	width: 803px;
	position: fixed;
	font-size: 0.75em;
	top: 880px;
	left: 817px;
	padding: 5px 5px 5px 5px;
	color: grey;
	/* border: 1px red solid; */
}

.mesSeperator5 {
	width: 804px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 695px;
	left: 813px;
}

.box3 {
	background-color: white;
	width: 480px;
	height: 236px;
	position: fixed;
	top: 670px;
	left: 303px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box3Book {
	position: fixed;
	top: 683px;
	left: 316px;
	color: #143D63;
}

.box3Tex {
	position: fixed;
	top: 683px;
	left: 360px;
	font-size: 1.75em;
	color: #143D63;
	font-weight: 900;
	font-family: 'Libre Franklin'!important;
}

.bookSeperator1 {
	width: 480px;
	height: 1px;
	border-top: 1px solid lightgrey;
	position: fixed;
	top: 735px;
	left: 303px;
}

.bookMes {
	position: fixed;
	top: 750px;
	left: 316px;
	color: black;
}

.bookA {
	font-size: 1em;
}
